@page
@model CR_Proiect.Pages.Biserici.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Biserica</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Biserica.ID" />
            <div class="form-group">
                <label asp-for="Biserica.Name" class="control-label"></label>
                <input asp-for="Biserica.Name" class="form-control" />
                <span asp-validation-for="Biserica.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Biserica.Religie" class="control-label"></label>
                <input asp-for="Biserica.Religie" class="form-control" />
                <span asp-validation-for="Biserica.Religie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Biserica.RegeID" class="control-label">Nume Rege</label>
                <select asp-for="Biserica.RegeID" class="form-control" asp-items="ViewBag.RegeID"></select>
                <span asp-validation-for="Biserica.RegeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Biserica.ReginaID" class="control-label">Nume Regina</label>
                <select asp-for="Biserica.ReginaID" class="form-control" asp-items="ViewBag.ReginaID"></select>
                <span asp-validation-for="Biserica.ReginaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
